.container {
  display: flex;
  width: 98%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  min-height: 300px;
  margin: 10px;
}

p {
  text-align: justify;
}
